@import '../styles/Variables.css';

/* Rodapé */
.footer {
  background-color: var(--component-bg-color); /* Azul clássico no claro, azul-acizentado no escuro */
  color: var(--text-color); /* Texto adaptado ao tema */
  text-align: center;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  width: 100%;
  margin: 0;
  border-top: 3px solid var(--accent-color); /* Destaque dourado */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition), color var(--transition);
}

/* Links do rodapé */
.footer a {
  color: var(--accent-color); /* Cor de destaque */
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color var(--transition), transform var(--transition);
}

.footer p {
  color: #FFFFFF;
}

.footer a:hover {
  color: var(--hover-bg-color); /* Dourado mais suave no hover */
  transform: scale(1.05);
}

/* Ajuste para modo escuro */
html[data-theme="dark"] .footer {
  background-color: var(--component-bg-color); /* Azul-acizentado no modo escuro */
  color: #FFFFFF; /* Texto branco no modo escuro */
}

html[data-theme="dark"] .footer a {
  color: #FFD700; /* Dourado no modo escuro */
}

/* Responsividade */
@media (max-width: 768px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer p {
    font-size: 1.3rem;
  }
}